\subsection { {{title}} }
\noindent{\bfseries\fontsize{10}{15}{{company.name}} \hfill ({{startDate.month}}/{{startDate.year}}-{{#endDate}}{{month}}/{{year}}{{/endDate}}{{^endDate}}Current{{/endDate}})}

{\noindent}{{summary}}
\\
